Repository cancervariants/variation-normalization, pull requests merged in 2024-03, with the labels that each got.

#540 test: only check vrs ids on certain tests
  tests/conftest.py
  tests/fixtures/translators.yml
  tests/test_gnomad_vcf_to_protein.py
  tests/test_hgvs_dup_del_mode.py
  tests/test_normalize.py
  tests/test_translator.py
  tests/to_copy_number_variation/test_amplification_to_cx_var.py
  tests/to_copy_number_variation/test_hgvs_to_copy_number.py
  tests/to_copy_number_variation/test_parsed_to_copy_number.py
Labels: priority:medium, test

#542 build!: udpate ga4gh.vrs version
  Pipfile
  pyproject.toml
  src/variation/main.py
  src/variation/schemas/copy_number_schema.py
  src/variation/schemas/hgvs_to_copy_number_schema.py
  src/variation/schemas/normalize_response_schema.py
  src/variation/schemas/to_vrs_response_schema.py
  src/variation/schemas/vrs_python_translator_schema.py
  src/variation/version.py
  tests/conftest.py
  tests/test_hgvs_dup_del_mode.py
  tests/test_normalize.py
  tests/test_translator.py
  tests/to_copy_number_variation/test_amplification_to_cx_var.py
  tests/to_copy_number_variation/test_hgvs_to_copy_number.py
  tests/to_copy_number_variation/test_parsed_to_copy_number.py
Labels: priority:high, build

#546 cicd: require priority label on PRs
  .github/workflows/pr-priority-label.yaml
Labels: priority:low

#548 docs: readme glow-up
  README.md
Labels: priority:low
